body {
    background: darkgrey;
    color: darkgrey;
}

.panel-body {
    background:darkgrey}

.ta {
    resize: none;
}

.Consola{
    width: 100%;
    height: 120%;
    resize: none;
    color: #ffffff;
}

.btnp {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.contenedorMenu{
    width: 1080px;
    margin: auto;
    background:#272829;
    color: rgb(0, 112, 163);
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedorMenu .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

.contenedor2{
    width: 100%;
    height: 480px;
    margin: auto;
    background:#272829;
    color: rgb(0, 112, 163);
    padding: 20px 15px 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor3{
    width: 100%;
    height: 240px;
    margin: auto;
    background:#272829;
    color: rgb(0, 112, 163);
    padding: 15px 15px 50px 15px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor4{
    width: 100%;
    height: auto;
    margin: auto;
    background:#272829;
    color: rgb(0, 112, 163);
    padding: 15px 15px 50px 15px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #22556e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 112, 163);
    border-bottom: #3a7999;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #ffffff;
}

#contenidopestanas{
    clear: both;
    background: #3a7999;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid rgb(0, 112, 163);
    width: 100%;
    height: 90%;
}

#pestanascon {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanascon ul{
    margin-left: -40px;
}

#pestanascon li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #22556e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid rgb(0, 112, 163);
    border-bottom: #3a7999;
    padding: 0px 20px 0px 20px;
}

#pestanascon a:link{
    text-decoration: none;
    color: #ffffff;
}

#contenidopestanascon{
    clear: both;
    background: #3a7999;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid rgb(0, 112, 163);
    width: 100%;
    height: 90%;
    position: absolute;
}